{% extends "base.html" %}
{% load static %}

{% block title %}Project Detail{% endblock %}

{% block css %}
<style>
    body {
        background-color: #f8f9fa;
        font-family: Arial, sans-serif;
    }
    .sidebar {
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 250px;
        background-color: #343a40;
        padding-top: 20px;
        color: white;
    }
    .sidebar a {
        padding: 10px 15px;
        text-decoration: none;
        color: white;
        display: block;
    }
    .sidebar a:hover {
        background-color: #495057;
    }
    .content {
        margin-left: 260px; /* Space for the sidebar */
    }
    .card {
        transition: transform 0.2s;
    }
    .card:hover {
        transform: scale(1.05);
    }
    .no-projects {
        text-align: center;
        margin-top: 20px;
        font-size: 1.2em;
        color: #6c757d;
    }
</style>
{% endblock %}

{% block content %}
<div class="sidebar">
    <h4>Navigation Bar</h4>
    <a href="{% url 'request_quote' %}">Request a Quote</a>
    {% if user.is_superuser %}

    <a href="{% url 'project_list_approved' %}">Approved</a>
    <a href="{% url 'project_list_declined' %}">Declined</a>
    <a href="{% url 'project_list_completed' %}">Completed</a>
    
    {% endif %}
    <form action="{% url 'logout' %}" method="post" class="mt-3">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger btn-block" style="background-color: #dc3545; border: none;">Log Out</button>
    </form>
</div>

<div class="content">
    <h2>Project Detail of {{ project.name }}</h2>

    <br />
    <br />
    <br />

    {% if user.is_superuser %}
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Project Information</h5>
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-primary">Update Project</button>
                </form>

                {% if project.status == 'approved' %}
                    <a href="{% url 'update_status_completed' project.id %}" class="btn btn-success">Complete</a>
                {% endif %}
            </div>
        </div>

        <div class='mt-4'>
            <a href="{% url 'update_element' project.id %}" class="btn btn-primary">Update element</a>
        </div>

        <div class="mt-4">
            <h5>Project Element</h5>
            <ul class="list-group">
                {% for element in project.elements.all %}
                    <li class="list-group-item">{{ element.name }}
                    <a href="{% url 'update_material' project_id=project.id element_id=element.id %}" class="btn btn-primary">Update material</a>

                    </li>
                {% empty %}
                    <li class="list-group-item">No elements associated with this project.</li>
                {% endfor %}
            </ul>
        </div>

        <div class="mt-4">
            <h5>Materials</h5>
            <ul class="list-group">
                {% for element in project.elements.all %}
                    {% for material in element.materials.all %}
                        <li class="list-group-item">
                            <h5 class="card-title">{{ material.name }}</h5>
                            <p class="card-text"><strong>Qty:</strong> {{ material.quantity }}</p>
                            <p class="card-text"><strong>Unit:</strong> {{ material.unit }}</p>
                            <p class="card-text"><strong>Price/Qty:</strong> {{ material.price_per_qty }}</p>
                            <p class="card-text"><strong>Markup Percentage:</strong> {{ material.markup_percentage }}%</p>
                            <p class="card-text"><strong>Cost:</strong> {{ material.total_cost|floatformat:2 }}</p>


                            <a href="{% url 'update_material_detail' project_id=project.id element_id=element.id material_id=material.id %}" class="btn btn-primary">Update</a>
                        </li>
                    {% empty %}
                        <li class="list-group-item">No elements associated with this project.</li>
                    {% endfor %}
                {% empty %}
                    <li class="list-group-item">No elements associated with {{element.name}} with this project.</li>
                {% endfor %}
            </ul>
        </div>

        <div class="mt-4">
            <h5>Total Cost</h5>
            <ul class="list-group">
                <li class="list-group-item">Php. {{ total_cost }}</li>
            </ul>
        </div>
    {% else %}
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Project Information</h5>
                <p class="card-text"><strong>Description:</strong> {{ project.description }}</p>
                <p class="card-text"><strong>Location:</strong> {{ project.location }}</p>
                <p class="card-text"><strong>Status:</strong> {{ project.get_status_display }}</p>
                <p class="card-text"><strong>Start Date:</strong> {{ project.start_date }}</p>
                <p class="card-text"><strong>End Date:</strong> {{ project.end_date|default:"Not specified" }}</p>

                {% if project.status == 'pending' %}
                    <a href="{% url 'update_status_approved' project.id %}" class="btn btn-success">Approve</a>
                    <a href="{% url 'update_status_declined' project.id %}" class="btn btn-danger">Decline</a>
                {% else %}
                    <a href="{% url 'update_status_approved' project.id %}" disabled class="btn btn-success">Approve</a>
                    <a href="{% url 'update_status_declined' project.id %}" disabled class="btn btn-danger">Decline</a>
                {% endif %}
            </div>
        </div>

        <div class="mt-4">
            <h5>Project Element</h5>
            <ul class="list-group">
                {% for element in project.elements.all %}
                    <li class="list-group-item">{{ element.name }}</li>
                {% empty %}
                    <li class="list-group-item">No elements associated with this project.</li>
                {% endfor %}
            </ul>
        </div>

        <div class="mt-4">
            <h5>Materials</h5>
            <ul class="list-group">
                {% for element in project.elements.all %}
                    {% for material in element.materials.all %}
                        <li class="list-group-item">
                            <h5 class="card-title">{{ material.name }}</h5>
                            <p class="card-text"><strong>Qty:</strong> {{ material.quantity }}</p>
                            <p class="card-text"><strong>Unit:</strong> {{ material.unit }}</p>
                            <p class="card-text"><strong>Price/Qty:</strong> {{ material.price_per_qty }}</p>
                            <p class="card-text"><strong>Markup Percentage:</strong> {{ material.markup_percentage }}%</p>
                            {% if project.status == 'approved' %}
                                <p class="card-text"><strong>Cost:</strong> {{ material.total_cost }}%</p>
                            {% endif %}
                        </li>
                    {% empty %}
                        <li class="list-group-item">No elements associated with this project.</li>
                    {% endfor %}
                {% empty %}
                    <li class="list-group-item">No elements associated with {{element.name}} with this project.</li>
                {% endfor %}
            </ul>
        </div>

        {% if project.status == 'approved' %}
            <div class="mt-4">
                <h5>Total Cost</h5>
                <ul class="list-group">
                    <li class="list-group-item">Php. {{ total_cost }}</li>
                </ul>
            </div>
        {% endif %}
    {% endif %}
</div>

{% endblock %}

{% block extra_scripts %}
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
{% endblock %}